<div>
    <h2 translate="rxmenApp.restWorkDays.home.title">Rest Work Days</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rest-work-days.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="rxmenApp.restWorkDays.home.createLabel">
                        Create new Rest Work Days
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'rxmenApp.restWorkDays.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="rxmenApp.restWorkDays.restWorkDaysStatus">Rest Work Days Status</span></th>
                    <th><span translate="rxmenApp.restWorkDays.description">Description</span></th>
                    <th><span translate="rxmenApp.restWorkDays.employee">Employee</span></th>
                    <th><span translate="rxmenApp.restWorkDays.dayOff">Day Off</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="restWorkDays in vm.restWorkDays track by restWorkDays.id">
                    <td><a ui-sref="rest-work-days-detail({id:restWorkDays.id})">{{restWorkDays.id}}</a></td>
                    <td translate="{{'rxmenApp.RestWorkDaysStatus.' + restWorkDays.restWorkDaysStatus}}">{{restWorkDays.restWorkDaysStatus}}</td>
                    <td>{{restWorkDays.description}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:restWorkDays.employee.id})">{{restWorkDays.employee.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="day-off-detail({id:restWorkDays.dayOff.id})">{{restWorkDays.dayOff.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rest-work-days-detail({id:restWorkDays.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rest-work-days.edit({id:restWorkDays.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rest-work-days.delete({id:restWorkDays.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
