
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDayOffLabel" translate="prxmenApp.dayOff.home.createOrEditLabel">Create or edit a Day Off</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dayOff.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dayOff.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="prxmenApp.dayOff.dayId" for="field_dayId">Day Id</label>
            <input type="number" class="form-control" name="dayId" id="field_dayId"
                    ng-model="vm.dayOff.dayId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="prxmenApp.dayOff.dayOffType" for="field_dayOffType">Day Off Type</label>
            <select class="form-control" name="dayOffType" ng-model="vm.dayOff.dayOffType" id="field_dayOffType">
                <option value="HOLIDAY" translate="prxmenApp.DayOffType.HOLIDAY">HOLIDAY</option>
                <option value="SICKNESS" translate="prxmenApp.DayOffType.SICKNESS">SICKNESS</option>
                <option value="LICENSE" translate="prxmenApp.DayOffType.LICENSE">LICENSE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="prxmenApp.dayOff.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.dayOff.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="prxmenApp.dayOff.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.dayOff.startDate" is-open="vm.datePickerOpenStatus.startDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="prxmenApp.dayOff.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.dayOff.endDate" is-open="vm.datePickerOpenStatus.endDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="prxmenApp.dayOff.restWorkDays" for="field_restWorkDays">Rest Work Days</label>
            <select class="form-control" id="field_restWorkDays" name="restWorkDays" ng-model="vm.dayOff.restWorkDays" ng-options="restWorkDays as restWorkDays.id for restWorkDays in vm.restworkdays track by restWorkDays.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
